body {
	background-image: url('blue.jpg');
}


.container {
	margin: 20px;
}
.header {
	width: 100%;
    background-color: palegoldenrod;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-family: cursive;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-weight: bold;
}

td {
	color: green;
}
